# Frontend Docker Environment Variables
NEXT_PUBLIC_SERVER_URI=http://localhost:8000/api/v1
NEXT_PUBLIC_SOCKET_SERVER_URI=http://localhost:8000
NEXTAUTH_URL=http://localhost:3000

# NextAuth Secrets (DO NOT COMMIT REAL VALUES)
NEXTAUTH_SECRET=change_me_super_secret_string

# External Providers
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
